.top グループを作成しました


.currentName
  %h3.currentName__user test-user
  =link_to "#" do
    %i.currentName__user.currentName__user--edit.fa.fa-edit
  =link_to "#" do
    %i.currentName__user.currentName__user--cog.fa.fa-cog
    

.group
  %h3.group__name.group__name--pad test-group
  %h4.group__comment さようなら
  %h3.group__name sample-group
  %h4.group__comment hello!
  %h3.group__name example
  %h4.group__comment まだメッセージがありません

.chat
  %h2.chat__name test-group
  %h3.chat__users Members seo neko
  =link_to "#" do
    .chat__edit Edit

.user
  %ul.user__name 
    %li.user__name.user__name_user seo 
    %li.user__name.user__name_date 2018/09/21 06:18:55
  %h3.user__comment Hello world!

  %ul.user__name
    %li.user__name.user__name_user neko 
    %li.user__name.user__name_date 2016/09/22 06:16:55
  %h3.user__comment Good bye world!

.submit
  %form 
    %input.submit__type{placeholder: 'type a message'}
    =link_to "#" do
      %i.submit__type.submit__type--image.fa.fa-image
    =link_to "#" do
      %button.submit__button Send
