.user {
  @include pRight();
  background-color: #fafafa;
  width: $sizeB;
  height: 576px;
  padding-top: 6px;
  &__name_user {
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: $black;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  &__name_date {
    float: left;
    @include gray();
    padding-left: 10px;
    padding-top: 44px;
  }
  &__comment {
    clear: both;
  }
}